.slideshow {
  height: 92vh;
  width: 100vw;
  margin: 0 auto;
  background: white;
  outline: 0;
  overflow: auto;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.slidecard {
  animation: stretchRight 1s ease-in-out both;
  scroll-snap-align: top;
  outline: 0;
  width: 70%;
  margin: 0 auto;
  height: 100%;
  cursor: pointer !important;
}

.endingContainer {
  position: relative;
  top: 30%;
  transform: translateY(-25%)
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.endingTitle {
  position: absolute;
  color: white;
  top: 25%;
  left: 25%;
  font-size: 5em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

#slideshow.point-right {
  cursor: url('images/right.png'), auto;
}

#slideshow.point-left {
  cursor: url('images/left.png'), auto;
}
